.container {
	margin: 12px 12px 12px 0;
	display: inline-block;
	border: 1px solid rgb(152, 152, 152);
	background-color: #fff;
	border-radius: 4px;
	height: 80vh;
}
.title {
	text-align: center;
	opacity: 0.6;
}

.btnWrapper {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 10px;
	margin: 0 12px;
}

.btn {
	text-decoration: none;
	padding: 12px 0;
	font-weight: 700;
}
