.page {
  width: 100% !important;
  height: 842px !important;
}

.header {
  border-top: 1px double #000;
  border-bottom: 1px double #000;
  border-bottom-style: double;
  text-align: center;
  /* padding: 6px 0; */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.header h2,
.header h3 {
  margin: 0;
  padding: 0;
  /* font-size: 12px; */
}

.header h3 {
  border: 1px solid #000;
  /* margin: 0 84px; */
  padding: 2px 24px;
  background-color: yellow;
}

.tutorName {
  border: 1px solid #000;
  margin-right: 144px;
  padding: 2px 4px;
  margin-bottom: 18px;
}

.odd {
  padding: 4px;
  background-color: #f2f1f1;
}

.even {
  padding: 4px;
  background-color: #d1d1d1;
}

.pageNum {
  position: relative;
  bottom: 58px;
  text-align: center;
}

@media print {
  .header {
    padding-top: 5pt;
    padding-bottom: 5pt;
  }
  .page {
    height: 771.68pt !important;
  }
  .header h2 {
    font-size: 22pt;
  }
  .header h3 {
    font-size: 19pt;
  }
  img {
    width: 54pt;
  }
  .tutorName {
    font-size: 16pt;
  }
  .odd,
  .even {
    /* width: 100%; */
    font-size: 14pt;
    /* background-color: #d1d1d1; */
  }
  .pageNum {
    margin-top: -40pt !important;
  }
}
