.container {
  margin: 0 24px;
  background: #fff;
  height: 286px;
  width: 664px;
}
.idAndEmailInput,
.firstLastNameInput {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  margin-bottom: 10px;
}

.saveAndCancelBtn {
  display: grid;
  grid-template-columns: 30% 30%;
  column-gap: 10px;
  margin-top: 10px;
}

.editBtn {
  padding-left: 81.5px;
  padding-right: 81.5px;
  margin-top: 10px;
}

.newBtn {
  padding-left: 81px;
  padding-right: 81px;
  margin-top: 10px;
}

.btnGroup {
  margin-top: 10px;
}
