.backBtn {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px;
}

.subjectTable {
	/* width: 500px; */
	height: 60vh;
}

.contentContainer {
	display: grid;
	grid-template-columns: 40% 60%;
	/* padding: 24px; */
	margin: 12px;
}
