.container {
  margin: 0;
  background: #fff;
  width: 272px;
  height: 526px;
}

.applyAndClear {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.deleteBtn {
  width: 160px;
  margin-left: 24px;
}

.dayAndTypeFilter {
  display: grid;
  grid-template-columns: auto auto;
}
