.container {
	height: 600px;
}
.title {
	margin: 4px 0;
}

.table {
	height: 40%;
}

.upDownBtnGroup {
	padding: 10px 0;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	column-gap: 10px;
}

.saveBtn {
	position: relative;
	top: 20px;
	left: 306px;
	height: 33px;
}
