.page {
  width: 100% !important;
  height: 842px !important;
}
.header {
  border-top: 1px double #000;
  border-bottom: 1px double #000;
  border-bottom-style: double;
  text-align: center;
  /* padding: 6px 0; */
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.header h2,
.header h3 {
  margin: 0;
  padding: 0;
  /* font-size: 12px; */
}

.header h3 {
  border: 1px solid #000;
  /* margin: 0 84px; */
  padding: 2px 24px;
  background-color: yellow;
}

.subjectContainer {
  margin-top: 12px;
}

.subject {
  padding: 4px 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.subject p {
  margin: 2px 0;
}

.odd {
  background-color: #f2f1f1;
}

.even {
  background-color: #d1d1d1;
}
.pageNum {
  position: relative;
  bottom: 58px;
  text-align: center;
}

@media print {
  .page {
    height: 771.68pt !important;
  }
  .header h2 {
    font-size: 22pt;
  }
  .header h3 {
    font-size: 19pt;
  }
  img {
    width: 54pt;
  }
  .subject {
    padding: 4pt 0;
    font-size: 14pt;
  }
  .pageNum {
    /* position: relative !important;
		top: -40pt !important; */
    margin-top: -40pt !important;
  }
}
