.container {
	margin: 0 12px;
	background: #fff;
}

.idAndEmailInput,
.firstLastNameInput {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	margin-bottom: 10px;
}

.saveAndCancelBtn {
	display: grid;
	grid-template-columns: 30% 30%;
	column-gap: 10px;
}


.newBtn {
	padding-left: 80px;
	padding-right: 80px;
}

.editBtn {
	padding-left: 80.5px;
	padding-right: 80.5px;
}

.newBtn {
  margin-top: 10px;
}

.btnGroup {
	margin-top: 10px;
}
